.a{
	width: 0;
	height: 0;
	border-top: 100px solid #00FFFF;
	border-right: 100px solid darkgrey;
	border-bottom: 100px solid coral;
	border-left: 100px solid forestgreen;
	margin-right: 20px;
	float: left;
}
.b{
	width: 0;
	height: 0;
	border-top: 200px solid cornflowerblue;
	border-right: 200px solid mediumblue;
	margin-right: 20px;
	float: left;
}
.c{
	width: 0;
	height: 0;
	border-top: 100px solid darkturquoise;
	border-right: 100px solid transparent;
	border-bottom: 100px solid lawngreen;
	border-left: 100px solid transparent;
	margin-right: 20px;
	float: left;
}
.d{
	width: 0;
	height: 0;
	border-top: 200px solid darkorchid;
	border-right: 200px solid transparent;
	margin-right: 50px;
	float: left;
}
.e{
	width: 0;
	height: 0;
	border-top: 100px solid transparent;
	border-right: 100px solid #F85214;
	border-bottom: 100px solid transparent;
	border-left: 100px solid darkorange;
	margin-right: 5px;
	float: left;
}
.f{
	width: 0;
	height: 0;
	border-top: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 100px solid transparent;
	border-left: 100px solid aqua;
	float: left;
}